.container{

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 70px;
    // padding-bottom: 30px;
    .title{
        font-family: ManropeExtraBold;
        display: flex;
        text-align: center;
        font-weight: 800;
        font-size: 37.48px;
        line-height: 123%;
        /* or 46px */
        justify-content: center;
        text-align: center;
        letter-spacing: 0.04em;
        color: #253089;

    }
    .advantages{
        
        width: 100%;

        display:flex;
        .adItem{
            justify-content: center;
            align-items: center;
            // display: flex;
            width: calc(100%/3);
            padding: 10px 20px;
            display: flex;
            flex-direction: column;
            .heading{
                font-family: ManropeBold;
                font-weight: bold;
                font-size: 20px;
                line-height: 131%;
                /* or 26px */

                text-align: center;
                letter-spacing: 0.07em;

                color: #253089;
                margin-bottom: 10px;

            }
            .text{
                font-weight: 500;
                font-size: 14px;
                line-height: 25px;
                /* or 179% */

                text-align: center;
                letter-spacing: 0.03em;
                font-feature-settings: 'liga' off;

                /* Text / Gray 900 */

                color: #18191F;
            }
        }
    }
}
.first{
    transform: rotate(-20deg);
}
.third{
    transform: rotate(20deg);
}

@media only screen and(max-width:1190px){
    .container{
        // padding: 30px 70px;
        padding: 0 20px;
        .advantages{
            .adItem{
                .text{
                    text-align: justify;
                    font-size: 12px;
                }
            }
        }
    }
    
}


@media only screen and(max-width:962px){
    .container{
        padding: 0 20px;
        
        .advantages{
            flex-direction: column;
            align-items: center;
            .adItem{
                width: 100%;
                img{
                    width: 70%;
                }
                .heading{
                    font-size: 33px;
                    margin-bottom: 4px;

                }
                .text{
                    text-align: center;
                    font-size: 18px;
                    padding: 20px 0;
                }
            }
        }
    }
    .first{
        transform: rotate(0deg);
    }
    .third{
        transform: rotate(0deg);
    }
}